body {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'luckiest-guy', Arial, Helvetica, sans-serif;
    color: white;
    background-image: url('./img/bg-corals.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
}

@font-face {
    font-family: 'luckiest-guy';
    src: url('./fonts/luckiest-guy.ttf') format('truetype');
}

.max-width {
    max-width: 1920px;
    width: 100%;
    height: calc(100vh - 104px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    background: rgb(0, 0, 0);
    display: block;
}

.touch-game-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mobile-btn-section {
    height: 40px;
    width: 100%;
    background: rgb(47, 39, 113);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    color: rgb(25, 67, 76);
    letter-spacing: 6px;
    text-shadow: 6px 8px 8px rgba(9, 239, 227, 0.6);
}

.d-none {
    display: none;
}

img {
    object-fit: cover;
}

button {
    border: unset;
}

a:hover,
button:hover {
    cursor: pointer;
}

.screen-content {
    z-index: 600;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    height: 480px;
    padding: 80px;
    gap: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.start-screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 200px;
    background-image: url('./img/3.Background/Mesa de trabajo 1.png');
}

.win-screen {
    justify-content: space-between;
    background-image: url('./img/6.Botones/Tittles/You win/Mesa de trabajo 1.png');
}

.game-over-screen {
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.game-over-lettering {
    height: 60px;
    padding-top: 40px;
}

.loading {
    display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/bg-corals.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.loading-spinner {
    width: clamp(50px, 16%, 100px);
    margin: 40px 0;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.screen-btn {
    z-index: 1000;
    border-radius: 50%;
    border: unset;
    padding-block: 0px;
    padding-inline: 0px;
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repeating-screen-img {
    z-index: 1000;
    height: 60px;
    width: 60px;
}

.btn-supplementary {
    background: rgb(127, 255, 224);
}

.repeating-img-supplementary {
    height: 38px;
    width: 38px;
}

.round-img {
    border-radius: 50%;
}

.play-button {
    border-radius: 36px;
    padding: 0;
    height: 60px;
}

.play-img {
    height: 60px;
}

.screen-btn:hover,
.imitated-play-button:hover,
.play-button:hover {
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
}

.mute-btn {
    z-index: 8000;
    position: absolute;
    top: 96px;
    right: 32px;
}

.fullscreen {
    z-index: 8000;
    position: absolute;
    right: 32px;
    bottom: 104px;
}

#instructions {
    z-index: 9000;
    position: absolute;
    top: 32px;
    right: 32px;
}

.black-overlay {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body.overlay-active {
    overflow: hidden;
}

.overlay-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.instruction-screen {
    justify-content: flex-start;
}

.close-overlay {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding: 16px 104px 0 0;
}

.instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collect {
    padding-right: 16px;
    padding-left: 48px;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'luckiest-guy';
}

.h2-collect {
    margin-bottom: 0;
}

.h2-variant {
    color: rgb(83, 26, 130);
    font-size: 28px;
    font-weight: 500;
    padding: 8px 80px;
    margin: 0;
}

.p-collect {
    margin: 0;
}

.instruction-keyboard-arrows {
    height: 100px;
    padding-top: 4px;
    padding-bottom: 24px;
}

.instruction-space {
    height: 48px;
}

.instruction-keyboard-letter {
    height: 48px;
}

.space-alternative {
    height: 44px;
    width: 44px;
    background: rgb(127, 255, 224);
    border: 2.4px solid rgb(255, 255, 255);
    border-radius: 14px;
    display: none;
}

.arrow-right {
    height: 24px;
}

.h2-attack {
    margin-bottom: 12px;
}

.defend-sharky {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    gap: 6px;
}

.range-width {
    width: 96px;
}

.range-left {
    gap: 10px;
}

.range-arrows {
    gap: 32px;
}

.variety {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.further-attack-options {
    height: 44px;
    width: 44px;
    background: rgb(127, 255, 224);
    border: 2.4px solid rgb(255, 255, 255);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-alternative-middle {
    display: none;
}

.attack-label {
    color: rgb(83, 26, 130);
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.whitespace {
    width: 32px;
}

.bubble-img-height {
    height: 42px;
}

.pufferfish-img-height {
    height: 20px;
}

.instruction-img-height {
    height: 48px;
}

.endboss-img-height {
    height: 56px;
}

.pufferfish-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.overlay-screen {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.imitated-play-button {
    border-radius: 16px;
    border: 3px solid rgb(255, 255, 255);
    background: rgb(127, 255, 224);
}

.responsive-footer {
    display: none;
}