body {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'luckiest-guy', Arial, Helvetica, sans-serif;
    /* background-image: url('../img/coral-8396400_1280.png');
    background-position: center; */
}

canvas {
    background: rgb(0, 0, 0);
}

@font-face {
    font-family: 'luckiest-guy';
    src: url('../fonts/luckiest-guy.ttf') format('truetype');
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}