body {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'luckiest-guy', Arial, Helvetica, sans-serif;
    background-image: url('./img/bg-corals.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: drop-shadow(1px 3px 10px rgb(50, 62, 87)); */
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
}

.max-width {
    max-width: 1920px;
    width: 100%;
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    background: rgb(0, 0, 0);
    display: block;
}

@font-face {
    font-family: 'luckiest-guy';
    src: url('./fonts/luckiest-guy.ttf') format('truetype');
}

h1 {
    font-size: 64px;
    font-weight: 500;
    color: rgb(25, 67, 76);
    letter-spacing: 6px;
    text-shadow: 6px 8px 8px rgba(9, 239, 227, 0.6);
}

.d-none {
    display: none;
}

img {
    object-fit: cover;
}

button {
    border: unset;
}

a:hover,
button:hover {
    cursor: pointer;
}

.mobile-btn-section {
    height: 40px;
    width: 100%;
    background: rgb(47, 39, 113);
    display: none;
}

.screen-content {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.screen-size {
    max-width: 720px;
    width: 100%;
    max-height: 480px;
    height: 100%;
    justify-content: flex-start;
    background: rgb(0, 0, 0);
}

.screen-img {
    object-position: center;
    max-width: 720px;
    width: 100%;
    max-height: 480px;
    height: 100%;
    transform: translateY(48px);

}

/* .screen-img-half {
    height: 40%;
} */

.gameOverLettering {
    height: 60px;
    padding-top: 40px;
}

.loading {
    display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/bg-corals.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.loading-spinner {
    width: clamp(50px, 16%, 160px);
    margin: 40px 0;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.start-game {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    transform: translate(20%, -200px);
}

.restart-won-game {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    transform: translate(0, 0);
}

.restart-game-over {
    justify-content: center;
    height: 100vh;
    transform: translate(0, 0);
}

.start-game-btns {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.volume-fullscreen {
    transform: translateX(100%);
}

.start-screen-btn {
    z-index: 1000;
    border-radius: 50%;
    border: unset;
    padding-block: 0px;
    padding-inline: 0px;
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen-img {
    z-index: 1000;
    height: 60px;
    width: 60px;
}

.btn-supplementary {
    background: rgb(127, 255, 224);
}

.img-supplementary {
    height: 38px;
    width: 38px;
}

.play-button {
    border-radius: 36px;
    padding: 0;
    height: 60px;
}

.play-img {
    height: 60px;
}

.start-screen-btn:hover,
.play-button:hover {
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
}

.black-overlay {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body.overlay-active {
    overflow: hidden;
}

.overlay-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 80px 32px 80px;
    width: calc(100% - 64px);
}

.close-overlay {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'luckiest-guy';
}

h3 {
    color: rgb(255, 255, 255);
}

.move-collect {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.instruction-keyboard-arrows {
    height: 100px;
    padding: 12px 0;
}

.instruction-keyboard-letter {
    height: 48px;
}

.space-alternative {
    display: none;
}

.defend-sharky {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    gap: 6px;
}

.range-width {
    width: 96px;
}

.variety {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.further-attack-options {
    height: 44px;
    width: 44px;
    background: rgb(127, 255, 224);
    border: 2.4px solid rgb(255, 255, 255);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attack-label {
    color: rgb(83, 26, 130);
    font-size: 24px;
}

.bubble-img-height {
    height: 42px;
}

.pufferfish-img-height {
    height: 20px;
}

.instruction-img-height {
    height: 48px;
}

.endboss-img-height {
    height: 56px;
}

.pufferfish-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.overlay-screen {
    z-index: 500;
    /* background: rgb(0, 0, 0); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.imitated-play-button {
    border-radius: 20px;
    border: 4px solid rgb(255, 255, 255);
    background: rgb(127, 255, 224);
}

.h2-variant {
    color: rgb(83, 26, 130);
    font-size: 30px;
    font-weight: 500;
    padding: 10px 50px;
    margin: 0;
}

@media (max-width: 736px) {
    .space-key {
        display: none;
    }

    .space-alternative {
        display: flex;
    }

}



@media only screen and (max-width: 720px) {

    canvas,
    .screen-img {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    h1 {
        display: none;
    }

    .max-width {
        height: 100vh;
    }

    ;

    canvas {
        height: calc(100vh - 40px);
    }

    .mobile-btn-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-integration {
        display: none;
    }

    .screen-img {
        transform: translateY(103px);
    }

    .touchscreen-btn {
        border: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
        background-color: rgb(127, 255, 224);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .attack-btn {
        background-color: rgb(47, 49, 141);
    }

    .touch-btn-img {
        width: 28px;
        height: 28px;
    }

    .attack-btn-img {
        width: 24px;
        height: 24px;
    }

    .volume-fullscreen {
        transform: translateX(0);
    }

    .black-overlay {
        flex-direction: row;
    }

    .overlay-frame {
        flex-direction: row;
        padding: 0;
    }

    /* .move-collect {
        flex-direction: column;
    } */




}