<footer class="footer bg_deco">
    <nav class="logo-pmedia section_pad_left_right m_auto">
        <a class="logo_row dfr fsc" href="index.html">
            <img class="logo" src="assets/icons/logo.svg" alt="Logo">
        </a>
        <nav class="policy">
            <a class="menu_links links_footer" href="imprint.html">Impressum</a>
            <a class="menu_links links_footer" href="data_privacy_statement.html">Datenschutz</a>
        </nav>
    </nav>
</footer>

<style>
    .footer {
        margin-top: 6px;
    }

    .links_footer {
        box-shadow: none !important;
        padding-bottom: 0;
    }

    .links_footer:hover {
        text-decoration: none;
    }

    .logo-pmedia {
        max-width: 1920px;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .policy {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media(max-width: 1600px) {
        .logo-pmedia {
            height: 96px;
        }
    }

    @media(max-width: 1050px) {
        .logo-pmedia {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 112px;
        }
    }

    @media(max-width: 820px) {
        .policy {
            gap: 16px;
        }
    }

    @media(max-width: 435px) {
        .logo-pmedia {
            flex-direction: row;
            justify-content: space-around;
            height: 80px;
        }

        .policy {
            padding-top: 0;
            flex-direction: column;
            gap: 2px;
        }
    }
</style>