footer {
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9999;
}

.footer-content {
    max-width: 1920px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    transform: translateY(-8px);
}

.logo {
    height: 64px;
    transform: rotate(30deg);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.menu-links {
    font-size: 20px;
    padding-bottom: 0;
    color: white;
    text-decoration: none;
}

.menu-links:hover {
    color: rgb(127, 255, 224);
}

@media (max-width: 900px) {
    .footer-content {
        padding: 0 40px;
    }

    .menu-links {
        font-size: 18px;
    }
}

@media (max-width: 440px) {
    .footer-content {
        padding: 0 16px;
    }

    .menu-links {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
}