body {
    margin: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(0, 0, 0);
    font-family: 'open-sans-regular', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    word-wrap: break-word;
}

@font-face {
    font-family: 'luckiest-guy';
    src: url('../fonts/luckiest-guy.ttf') format('truetype');
}

@font-face {
    font-family: 'open-sans-regular';
    src: url('../fonts/open-sans-regular.ttf') format('truetype');
}

.policy-section {
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 80px 112px 80px;
}

h1 {
    font-family: 'luckiest-guy';
    margin: 0;
    padding: 24px 0 16px 0;
}

h2 {
    font-size: 30px;
    text-align: left;
    word-wrap: break-word;
    margin: 0;
    padding-bottom: 8px;
}

h3 {
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 8px;
}

.address {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

a {
    padding-bottom: 0;
    color: rgb(127, 255, 224);
    text-decoration: none;
}

a:hover {
    color: rgb(193, 252, 237);
    font-weight: 600;
}

p {
    text-align: justify;
    word-wrap: break-word;
    margin: 0;
    padding-bottom: 8px;
}

strong {
    line-height: 150%;
}

ul {
    margin: 0;
    padding-bottom: 12px;
}

li {
    word-wrap: break-word;
}

@media (max-width: 916px) {
    body {
        font-size: 18px;
        align-items: flex-start;
    }

    .policy-section {
        padding: 0 40px 80px 40px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
        padding-bottom: 4px;
    }
}

@media (max-width: 528px) {
    .address {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 464px) {
    body {
        font-size: 16px;
    }

    .policy-section {
        padding: 0 16px 72px 16px;
    }

    h1 {
        padding: 16px 0 8px 0;
    }

    h2 {
        font-size: 20px;
        padding-bottom: 4px;
    }

    h3 {
        font-size: 18px;
        padding-bottom: 0;
    }

    ul {
        padding-left: 16px;
    }

    p {
        text-align: left;
    }
}